<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://images-ext-1.discordapp.net/external/b5nPTbHobtZsKyl_X5rMj8KxwIsPKCJuZnnFPn0CtjE/https/cdn.iconscout.com/icon/free/png-256/koala-bear-lazy-honey-wild-animal-33903.png" height="40" class="mr-2"> &nbsp;
    </ng-template>
    <ng-template pTemplate="end">
        <app-search-clip></app-search-clip> &nbsp;
        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-text" (click)="showBasicDialog()" pTooltip="เพิ่มคลิป" tooltipPosition="bottom"></button> &nbsp;
        <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info p-button-text" pTooltip="โปรไฟล์" tooltipPosition="bottom"></button>&nbsp;
        <button pButton pRipple type="button" icon="pi pi-ellipsis-h" (click)="display = true" class="p-button-rounded p-button-text p-button-plain" pTooltip="เพิ่มเติม" tooltipPosition="bottom"></button>
    </ng-template>
</p-menubar>



<p-dialog header="เพิ่มคลิป" [(visible)]="displayBasic" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <app-add-clip></app-add-clip>
</p-dialog>

<p-toast></p-toast>

<p-sidebar [(visible)]="display" position="bottom" [style]="{height:'17%'}" [baseZIndex]=" 10000 ">
    <app-bottom-menu></app-bottom-menu>
</p-sidebar>