<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="https://images-ext-1.discordapp.net/external/b5nPTbHobtZsKyl_X5rMj8KxwIsPKCJuZnnFPn0CtjE/https/cdn.iconscout.com/icon/free/png-256/koala-bear-lazy-honey-wild-animal-33903.png" height="40" class="mr-2">
        &nbsp;
    </ng-template>
    <ng-template pTemplate="end">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="ค้นหา" />
        </span>
        &nbsp;
        <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-text" (click)= "click()" ></button>
        &nbsp;
        <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-info p-button-text"></button>
    </ng-template>
</p-menubar>