<p-carousel [value]="clips" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
    <ng-template pTemplate="header">
        <h1>คลิปแนะนำ</h1>
    </ng-template>
    <ng-template let-product pTemplate="item">
        <div class="product-item">
            <div class="product-item-content">
                <div class="p-mb-3">
                    <app-video-player [videoId]="UrlVideo(product.url)" style="width: 40%; height: 30%;"></app-video-player>
                </div>
                <div>
                    <h3 class="p-mb-1">{{product.title}}</h3>
                    <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                    <br>
                    <div class="car-buttons p-mt-5">
                        <p-button id="info" label="ดูรายละเอียด" icon="pi pi-search" (click)="showBasicDialog(product.id)" styleClass="p-button-rounded"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>

<p-dialog header="รายละเอียดคลิป" [(visible)]="displayBasic" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <app-detail-clip [Id]="id"></app-detail-clip>
</p-dialog>
